.quicktabs-hide {
  display: none!important;
  }

ul.quicktabs-tabs {
  margin-top: 0;
}
ul.quicktabs-tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 2px;
  white-space: nowrap;
}
