﻿.page-node-25732 #main {
	width: 100%;
	padding: 0;
	overflow: hidden;
	background: #333333;
}

.page-node-25732 article.node-25732 {
	width: 960px;
	margin: 0 auto;
}

#page.leads {
	background: url("images/bg_lead.jpg") repeat-x;
}

#page.leads #main_menu {
	margin: 25px 0 0 0;
}

#page.leads #main_menu .content li {
	border-bottom: 0;
}

#page.leads #main_menu .content li.menu-974 {
	width: 154px;
}

#page.leads #main_menu .content .inline-text {
	background: none;
}

#page.leads .header-intro {
	padding-top: 0;
	padding-bottom: 0;
	min-height: 240px;
}

#page.leads .header-intro-content .header-intro-text {
	margin-left: 0;
	width: 535px;
}

#page.leads .field-item img {
	float: right;
}

#page.leads .header-intro-content .header-intro-text h1 {
	color: #ffffff;
}

#page.leads .header-intro-content .header-intro-text .sub {
	color: #d25e35;
	font-size: 20px;
}

#page.leads .header-intro-content .header-intro-text p {
	font-size: 14px;
}

#page.leads .header-intro-content .header-intro-text a {
	margin-right: 30px;
}

.lead-steps {
	background:#d25e35;
}
.lead-steps strong {
	text-transform: uppercase;
}

.lead-steps .row > div p{
	color: #ffffff;
	font-size: 26px;
	text-align: center;
	line-height: 90px;
	height:90px;
	margin: 0;
	cursor: pointer;
	font-weight: 100;
}

.lead-steps .row > div span {
	font-weight: bold;
	border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  border:3px solid #ffffff;
  padding: 0 10px;
}

.lead-steps .row > div p.current {
	background: #a73d16;
}

#page.leads .lead-tabs {
	background: #272727;
	min-height: 45px;
}

#page.leads .lead-tabs ul {
	list-style-type: none;
	padding: 0 10px;
}

#page.leads .lead-tabs ul li {
	display: inline-block;
	float: left;
	margin-right: 30px;
}

#page.leads .lead-tabs ul li a {
	font-size: 15px;
	display: block;
	padding: 13px 0;
	font-weight: bold;
	color: #99ccff;
	text-transform: uppercase;
	cursor: pointer;
}


.lead-tabs ul li.filter a {
	font-weight: normal;
}

.lead-tabs ul li.filter a:hover {
	text-decoration: none;
	border: none;
}

.lead-tabs ul li a:hover, .lead-tabs ul li a.selected {
	border-bottom: 3px solid #99ccff;
	text-decoration:none;
}

.lead-tabs ul li a img {
	margin-left: 8px;
}

.filter_box {
	background: #ffffff;
	color: #666666;
	padding-bottom: 30px;
}

.filter_box p {
	font-size: 14px;
	margin-bottom: 2px;
}

.filter_box p span {
	color: #999999;
	font-size: 12px;
}

.filter_box .closethis {
	float: right;
	font-size: 14px;
	margin:10px 10px 0 0;
}

.filter_box input {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 0 10px;
	height: 28px;
	font-size: 13px;
	margin-bottom: 10px;
}

.filter_box .right {
	float: right;
}

.kword input {
	width: 100%;
}

.posting input {
	width: 170px;
}

.filter_box .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
	width: 100%;
}

.filter_box .bootstrap-select .btn:hover {
	background: none;

}

.filter_box .btn-group.open .dropdown-toggle {
	border-color: #ffffff;
	background: none;
	box-shadow: none;
}

.filter_box .dropdown-menu {
	top: 0;
}

.filter_box .dropdown-menu li a {
	color: #666666;
	font-size: 13px;
	line-height: 16px;
}

.bootstrap-select.btn-group .dropdown-menu li > a:hover, .bootstrap-select.btn-group .dropdown-menu li.selected > a{
	background: #f7eeea;
}

.clearall {
	float: right;
	line-height: 25px;
	margin-top: 20px;
}

.searchleads {
	float: right;
	line-height: 25px;
	padding: 0 30px;
	background: #a73d16;
	color: #ffffff;
	margin-left: 30px;
	margin-top: 20px;
}

#page.leads>.view-content {
	background: #333333;
	display: none;
}
#page.leads .view-content.active {
	display: block;
}

#page.leads .view-content .lead-teaser {
	padding: 10px 0 0 0;
	border-bottom: none;
}

#page.leads .view-content > .container {
	display: none;
}

#page.leads .view-content > .container.active {
	display: block;
}

#page.leads .lead-teaser .lead-category-icon-wrap {
	background: none;
	width: 60px;
	margin-right: 20px;
}

#page.leads .view-content .lead-teaser h2 a {
	color: #99ccff;
	font-size: 15px;
}

#page.leads .lead-details p {
	font-size: 12px;
	margin-bottom: 3px;
}

#page.leads #main {
	padding-bottom: 0;
}

.timeposted {
	padding-left: 20px;
	background: url("images/icn_clock.png") no-repeat;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
}

#page.leads .view-content .searchnote {
	font-size: 20px;
	color: #d25e35;
	text-align: center;
	margin: 40px 0;
}

#page.leads .view-content h2 {
	color:#ffffff;
	font-size: 22px;
	margin: 10px 0;
	text-transform: uppercase;
}
.page-tab ul {
	padding: 0;
	width: 480px;
	margin: 45px auto;
}
.page-tab ul li {
	display: inline-block;
	float: left;
	margin: 0 2px;
	line-height: 26px;
}

.page-tab ul li a {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background:#262626;
	padding: 0 8px;
	border-radius: 4px;
	display:block;
	line-height: 26px;
	margin-top: 2px;
}

.page-tab ul li .prevpage, .page-tab ul li .nxtpage, .page-tab ul li .showmore {
	background: none;
	padding: 0;
	margin-top: 0;
}

#page.leads .view-content .leadnote {
	font-size: 14px;
	color: #b2b2b2;
	margin: 30px 0;
}

#page.leads .view-content .leadinfo {
	float: right;
}

#page.leads .view-content .leadinfo li {
	display: inline-block;
	float: left;
	font-size: 14px;
	color: #808080;
	margin-left: 5px;
}

#page.leads .view-content .leadinfo li span {
	color: #ffffff;
	display: block;
	float: left;
	font-size: 22px;
	margin: 0 5px;
	font-weight: bold;
}

.leaddetails {
	position: absolute;
	left: 0;
	bottom: 0;
	background: url("images/bg_leaddetail.png");
	width: 100%;
	padding: 10px 0;
}

.leaddetails .views-field-body {
	max-height: 34px;
	overflow: hidden;
}

#page.leads .view-content .mainlead {
	position: relative;
	width: 461px;
	float: left;
}

#page.leads .view-content .mainlead.big img {
	/*padding-top: 8px;*/
	width: 461px;
	height: 314px;
}

#page.leads .view-content .mainlead a, #page.leads .view-content .mainlead p {
	margin-left: 10px;
}

#page.leads .view-content .mainlead a, #page.leads .view-content .mainlead p.timeposted {
	margin-top: 2px;
}

#page.leads .view-content .featuredleads ul {
	padding: 0 10px 0 0;
	list-style-type: none;
	float: right;
	width: 490px;
}

#page.leads .view-content .featuredleads ul li {
	display: inline-block;
	float: left;
	position:relative;
	margin: 0 0 20px 20px;
}
#page.leads .view-content .featuredleads ul li.small img {
	width: 220px;
	height: 147px;
}

#page.leads .view-content .featuredleads ul li .leaddetails a, #page.leads .view-content .featuredleads ul li .leaddetails p {
	margin-left: 10px;
	display:block;

}

#page.leads .leaddetails p {
	margin: 0;
}

#page.leads .breakingleads ul {
	list-style-type: none;
	padding: 0;
}

#page.leads .breakingleads ul li {
/*	display: inline-block;
	float: left;
	margin-right: 15px;*/
}

#page.leads .breakingleads ul li img {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	width: 80px;
	height: 80px;
}

.breakingleads ul li .leaddetails {
	position: relative;
	float: left;
	width: 205px;
	background: none;
	padding: 0;
}

.leaddetails a, .views-field-title .field-content a{
	color: #99ccff;
	display: block;
}

.vidlist {
	list-style-type: none;
	padding: 0;
}

.vidlist li {
	display: inline-block;
	float: left;
	margin: 0 15px 15px 0;

}

.vidlist li.right {
	margin-right: 0;
	float:right;
}

.vidlist li.mid {
	margin-left: 5px;
}

.seemore {
	display: block;
	float: right;
	padding: 4px 50px;
	color: #ffffff;
	background: #a73d16;
	margin-bottom: 50px;
}

.seemore:hover {
	color: #ffffff;
}

/* Filter */
.secondtab-filter.active {
	width: 100% !important;
	background-color: #fff;
}
.view-leds-filter {

	margin: 0 auto;
}
	.view-leds-filter .view-filters {
		margin: 20px 0 30px;
		width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
		.view-leds-filter .view-filters input[type="text"] {
			border: 1px solid #d9d9d9;
			border-radius: 4px;
			padding: 0 10px;
			height: 29px;
			font-size: 13px;
			margin-bottom: 10px;
		}
		.view-leds-filter .view-filters label{
			font-weight: normal;
			color: #666;
		}

		.view-leds-filter .description {
			display: none;
		}

		.view-leds-filter #edit-title-wrapper, .view-leds-filter #edit-title-wrapper input,
		.view-leds-filter #edit-field-date-value-wrapper .views-widget>div div,
		.view-leds-filter #edit-field-date-value-wrapper .views-widget .form-type-date-popup,
		.view-leds-filter #edit-field-category-industry-tid-wrapper .bootstrap-select,
		.view-leds-filter #edit-field-agency-type-tid-wrapper .bootstrap-select,
		.view-leds-filter #edit-field-region-value-wrapper .bootstrap-select  {
			width: 100%;
		}

		.view-leds-filter #edit-field-date-value-wrapper, .view-leds-filter #edit-field-date-value-wrapper .views-widget>div {
			width: 50%;
			float: left;
		}

		.view-leds-filter #edit-field-date-value-wrapper .views-widget .form-type-date-popup label{
			float: left;
			line-height: 29px;
		}
		.view-leds-filter #edit-field-date-value-wrapper .views-widget .form-type-date-popup>div {
			float: right;
			width: 70%;
		}
		.view-leds-filter #edit-field-date-value-wrapper .views-widget .form-type-date-popup.form-item-field-date-value-max label {
			margin-left: 35px;
		}
		.view-leds-filter #edit-field-category-industry-tid-wrapper,
		.view-leds-filter #edit-field-agency-type-tid-wrapper,
		.view-leds-filter #edit-field-region-value-wrapper {
			width: 50%;
		}

		.view-leds-filter #edit-field-agency-type-tid-wrapper {
			width: 49%;
			margin-right: 1%;
		}

		.view-leds-filter .views-submit-button,
		.view-leds-filter .views-reset-button {
			float: right;
		}

		.view-leds-filter .views-submit-button input{
			line-height: 25px;
			padding: 0 30px;
			background: #a73d16;
			color: #ffffff;
			margin-left: 20px;
			border: none;
			text-transform: uppercase;
			margin-top: 10px !important;
		}
		.view-leds-filter .views-reset-button input{
			line-height: 25px;
			padding: 0;
			background: #fff;
			color: #599ec5;
			border: none;
			margin-top: 10px !important;
			outline: none;
		}

/* Breaking leads */
.view-breaking-leads {

}
	.view-breaking-leads .ajax-progress {
		display: none !important;
	}

	.view-breaking-leads .view-content {
		display: block !important;
	}
		.view-breaking-leads .views-row {
			width: 300px;
			height: 80px;
			margin-right: 15px;
			margin-bottom: 20px;
			float: left;
			overflow: hidden;
		}
/*			.view-breaking-leads .views-row .views-field {
				margin-bottom: 3px;
			}*/
			.view-breaking-leads .views-row .views-field-created span {
				padding-left: 20px;
				background: url("images/icn_clock.png") no-repeat;
				font-size: 10px;
				line-height: 15px;
				text-transform: uppercase;
			}
				.view-breaking-leads .views-row .views-field-created em {
					font-style: normal;
				}

			.view-breaking-leads .views-row .views-field-field-lead-landing-image {
				float: left;
				margin-right: 20px;
				width: 80px;
				height: 80px;
				background: #cccccc;

			}
/* Pager */
ul.pager {

}
	ul.pager li {
		margin: 3px;
		padding: 0 !important;
		display: inline-block !important;
	}
	ul.pager li.first, ul.pager li.last {
		display: none;
	}
	ul.pager li.pager-current {
		background-color: #a73d16;
		border-radius: 5px;
		min-width: 24px;
		height: 24px;
		display: inline-block;
		line-height: 22px;
		color: #fff;
	}
	ul.pager  li.pager-ellipsis {
		width: 34px;
		text-indent: -9999px;
		background: url('images/icn_morepage.png') center no-repeat;
	}
	ul.pager li.pager-last,
	ul.pager li.pager-first {
		display: none !important;
	}
	ul.pager li.pager-previous a, ul.pager li.pager-next a {
		background-color: #a73d16;
	}
		ul.pager li a, ul.pager li a:hover  {
			border-radius: 5px;
			min-width: 24px;
			height: 24px;
			font-size: 13px;
			line-height: 24px;
			font-weight: bold;
			background: none;
			border: none;
			color: #fff;
			background-color: #262626;
			padding: 0 5px;
		}

#block-views-leds-filter-block-1 {
	margin: 0;
}
#block-views-leds-filter-block-1 > h2 {
	display: none;
}
#block-views-leds-filter-block-1 .ajax-progress {
	display: none !important;
}
#block-views-leds-filter-block-1 .lead-teaser .lead-category-icon-wrap {
	width: 85px !important;
	height: 68px;
	background: #cccccc !important;
}

.view-convert-your-leads .view-content {
	margin-bottom: 15px;
	display: inline-block;
	width: 100%;
}

.view-convert-your-leads .views-row {
	float: left;
	width: 303px;
	position: relative;
}

.view-convert-your-leads .views-row img {
	display: block;
	width: 300px;
	height: 156px;
}

.view-convert-your-leads .views-row .views-field-body,
.view-convert-your-leads .views-row .views-field-title {
	margin: 0 10px;
}

.view-convert-your-leads .views-row .views-field-field-image-conference-video a {
	position: relative;
	display: block;
}
.view-convert-your-leads .views-row .views-field-field-image-conference-video a:after {
	content: ".";
	display: block;
	text-indent: -9999px;
	background: url(images/play.png) center no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.view-convert-your-leads .views-row-1,
.view-convert-your-leads .views-row-2 {
	width: 461px;
	margin-bottom: 15px;
}

.view-convert-your-leads .views-row-2 {
	float: right;
}
.view-convert-your-leads .views-row-3 {
	clear: both;
}

.view-convert-your-leads .views-row-1 .views-field-field-image-conference-video img,
.view-convert-your-leads .views-row-2 .views-field-field-image-conference-video img {
	display: block;
	width: 461px;
	height: 242px;
}

.view-convert-your-leads .views-row-4 {
	margin: 0 15px;
}

.view-leds-filter .view-content { background: #333; padding: 25px 0;}
.view-leds-filter .view-content .views-row {width: 960px; margin: 0 auto;}
.view-leds-filter .item-list {background: #333;}
.view-leds-filter .item-list ul {margin-bottom: 0; padding: 15px 0;}
.step-263 .secondtab-filter, .step-263 #secondtab-filter {display: none !important;}
/*.page-node-25732 #main {width: 100%;  padding-left: 0px; padding-right: 0px; }*/

/*.page-node-25732 .col-xs-7 {width: 56.333333%; padding-left: 172px;}*/
.page-node-25732 .header-intro, .page-node-25732 #main{padding-bottom: 0px;}
.page-node-25732 .header-intro {min-height: 235px;}
.page-node-25732 .header-intro .field-name-field-banner-image img {
	float: right;
}
.page-node-25732 .col-xs-12 {min-height: 0px;}
.node-25732 .row {height: 0px;}

.view-convert-your-leads .views-row .views-field-body{ font-size: 12px;}

.page-node-25732 .header-intro-content .header-intro-text h1 {
	color: #fff;
	text-transform: none;
}
.header-intro-content .header-intro-text h1{
	color: #d25e35;
	text-transform: none;
}

.logged-in .header-intro-content .header-intro-text .anonim,
.not-logged-in .header-intro-content .header-intro-text .login{
	display: none;
}

.view-breaking-leads a.contextual-links-trigger {
    background: transparent url(images/gear-select.png) no-repeat 2px 0;
    border: 1px solid transparent;
    display: block;
    height: 18px;
    margin: 0;
    padding: 0 2px;
    outline: none;
    text-indent: 34px;
    width: 28px;
    overflow: hidden;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.view-breaking-leads .contextual-links-region {
	position: relative;
}

.view-breaking-leads .contextual-links-region ul {
	width: 40px;
	height: 20px;
}

.view-breaking-leads .contextual-links-region ul li{
	margin-top: 3px;
	margin-left: 4px;
}
#featured .featuredleads, #featured .breakingleads{
	margin-left: 0px;
	margin-right: -20px;
}