/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
* {
  margin:0;
  padding:0;
  }

#grey-faces-bkgd {
  background-image:url(../images/grey-faces-bkgd.jpg);
  background-repeat: repeat-x;
  height:367px;
  background-position: left bottom;
  }

#page-title {
  text-align: left;
  }

/**
  * Secondary Menu
  *
  * Menu including Membership, Search Consultants, Service Providers, Subscribe, About, Contact
  */

.zone-menu-wrapper {
  height:30px;
  background: rgba(0,0,0,.5);
}
#secondary-menu-bkgd {
  height:55px;
  background-color: #1a1a1a;
  opacity:0.8;
  filter:alpha(opacity=80);
  }
  
#region-secondary-menu ul{
  list-style-type:none;
  margin:0;
  padding:0;
  }

#region-secondary-menu li {
 display:inline;
 }

#region-secondary-menu a {
  text-decoration: none;
  color: #acacac;
  text-transform: uppercase; 
  font-family: "Source Sans Pro", sans-serif;
  font-size:14px;
  font-weight: 400;
  }

/**
  * Main Menu
  *
  * Menu including Daily RFP Leads, On Demand Learning, Live Events and Right Now
  */
  
#region-main-menu{ 
 margin:20px 10px;
 }
  
#region-main-menu div.content ul{
  list-style-type:none;
  margin:0;
  padding:0;
  text-align:center;
  }

#region-main-menu div.content li {
 display: inline;
 width: 187px;
 float: left;
 background-color: rgba(102,102,102,0.5);
 margin: 0;
 padding: 0;
 }
 
#region-main-menu div.content li.menu-mlid-217 {
  background-image: url(../images/mirrenlogo_black.png);
  }

#region-main-menu div.content li.menu-mlid-888{
 border-right: 2px solid #333333;
 }
#region-main-menu div.content li.menu-mlid-897{
 border-left: 2px solid #333333;
 }

#region-main-menu div.content a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase; 
  font-family: "Source Sans Pro", sans-serif;
  font-size:16px;
  font-weight: 300;
  width: 187px;
  display: block;
  padding: 7px 0;
  }

/**
  * Header Menu
  *
  * Tabs associated with sub pages of 4 main navigational items (Daily RFP Leads, On Demand Learning, Live Events and Right Now)
  */

#region-header-menu{
  }  
  
#region-header-menu div.content ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  }

#region-header-menu div.content li {
 display: inline;
 width: 120px;
 background-color: #a73d16;
 float: right;
 margin-left: 2px;
 padding: 3px 0;
 }

#region-header-menu div.content a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 300;
  }
  
/**
  * Header Main Section
  * 
  * Includes page title, description, link and video
  */  
  
#region-header-main {
  background-color: #333333;
  opacity: 0.8;
  filter: alpha(opacity=80);
  height:140px;
  width:860px;
  padding: 30px 40px;
  }
  
#region-header-main #page-title {
  color: #d25e35;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 30px;
  width: 480px;
  line-height: 32px;
}

/**
  * Daily RFP Leads Listing 
  */

div.view-leads-landing .views-row {
 padding: 20px 0;
 border-bottom: 2px solid #e5e5e5;
 }

div.leads-landing-page-fields div.group-left {
  width:100px;
  }

div.leads-landing-page-fields div.group-middle {
  width:700px;
  padding: 0 20px;
  }

div.leads-landing-page-fields div.group-right {
  width:100px;
  }

div.leads-landing-page-fields .views-field-field_lead_sub_title {
 font-size: 14px;
 color: #333333;
 font-family: 'Source Sans Pro',sans-serif;
 font-weight: 400;
 }
 
div.leads-landing-page-fields div.views-field-title a,
div.leads-landing-page-fields div.views-field-field_lead_non_member_title a{
 color: #336799;
 text-decoration: none;
 font-size: 24px;
 line-height: 20px;
 font-weight: 400;
 font-family: 'Source Sans Pro', sans-serif;
 }