﻿#page.leads {
	background: url("images/bg_lead.jpg") repeat-x;
}

#page.leads #main_menu {
	margin: 25px 0 0 0;
}

#page.leads #main_menu .content li {
	border-bottom: 0;
}

#page.leads #main_menu .content li.menu-974 {
	width: 154px;
}

#page.leads #main_menu .content .inline-text {
	background: none;
}

#page.leads .header-intro {
	padding-top: 0;
	padding-bottom: 0;
	min-height: 240px;
}

#page.leads .header-intro-content .header-intro-text {
	margin-left: 0;
	width: 535px;
}

#page.leads .field-item img {
	float: right;
}

#page.leads .header-intro-content .header-intro-text h1 {
	color: #ffffff;
}

#page.leads .header-intro-content .header-intro-text .sub {
	color: #d25e35;
	font-size: 20px;
}

#page.leads .header-intro-content .header-intro-text p {
	font-size: 14px;
}

#page.leads .header-intro-content .header-intro-text a {
	margin-right: 30px;
}

.lead-steps {
	background:#d25e35;
}

.lead-steps .row > div p{
	color: #ffffff;
	font-size: 26px;
	text-align: center;
	line-height: 90px;
	height:90px;
	margin: 0;
}

.lead-steps .row > div span {
	font-weight: bold;
	border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  border:3px solid #ffffff;
  padding: 0 10px;
}

.lead-steps .row > div p.current {
	background: #a73d16;
}

#page.leads .lead-tabs {
	background: #272727;
	min-height: 45px;
}

#page.leads .lead-tabs ul {
	list-style-type: none;
	padding: 0 10px;
}

#page.leads .lead-tabs ul li {
	display: inline-block;
	float: left;
	margin-right: 30px;
}

#page.leads .lead-tabs ul li a {
	font-size: 15px;
	display: block;
	padding: 13px 0;
	font-weight: bold;
	color: #99ccff;
}


.lead-tabs ul li.filter a {
	font-weight: normal;
}

.lead-tabs ul li.filter a:hover {
	text-decoration: none;
	border: none;
}

.lead-tabs ul li a:hover, .lead-tabs ul li a.selected {
	border-bottom: 3px solid #99ccff;
	text-decoration:none;
}

.lead-tabs ul li a img {
	margin-left: 8px;
}

.filter_box {
	background: #ffffff;
	color: #666666;
	padding-bottom: 30px;
}

.filter_box p {
	font-size: 14px;
	margin-bottom: 2px;
}

.filter_box p span {
	color: #999999;
	font-size: 12px;
}

.filter_box .closethis {
	float: right;
	font-size: 14px;
	margin:10px 10px 0 0;
}

.filter_box input {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 0 10px;
	height: 28px;
	font-size: 13px;
	margin-bottom: 10px;
}

.filter_box .right {
	float: right;
}

.kword input {
	width: 100%;
}	

.posting input {
	width: 170px;
}

.filter_box .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
	width: 100%;
}

.filter_box .bootstrap-select .btn:hover {
	background: none;

}

.filter_box .btn-group.open .dropdown-toggle {
	border-color: #ffffff;
	background: none;
	box-shadow: none;
}

.filter_box .dropdown-menu {
	top: 0;
}

.filter_box .dropdown-menu li a {
	color: #666666;
	font-size: 13px;
	line-height: 16px;
}

.bootstrap-select.btn-group .dropdown-menu li > a:hover, .bootstrap-select.btn-group .dropdown-menu li.selected > a{
	background: #f7eeea;
}

.clearall {
	float: right;
	line-height: 25px;
	margin-top: 20px;
}

.searchleads {
	float: right;
	line-height: 25px;
	padding: 0 30px;
	background: #a73d16;
	color: #ffffff;
	margin-left: 30px;
	margin-top: 20px;
}

#page.leads .view-content {
	background: #333333;
}

#page.leads .view-content .lead-teaser {
	padding: 10px 0 0 0;
	border-bottom: none;
}

#page.leads .lead-teaser .lead-category-icon-wrap {
	background: none;
	width: 60px;
	margin-right: 20px;
}

#page.leads .view-content .lead-teaser h2 a {
	color: #99ccff;
	font-size: 15px;
}

#page.leads .lead-details p {
	font-size: 12px;
	margin-bottom: 3px;
}

#page.leads #main {
	padding-bottom: 0;
}

.timeposted {
	padding-left: 20px;
	background: url("images/icn_clock.png") no-repeat;
	font-size: 10px;
	line-height: 15px;
}

#page.leads .view-content .searchnote {
	font-size: 20px;
	color: #d25e35;
	text-align: center;
	margin: 40px 0;
}	

#page.leads .view-content h2 {
	color:#ffffff;
	font-size: 22px;
	margin: 10px 0;
}
.page-tab ul {
	padding: 0;
	width: 480px;
	margin: 45px auto;
}
.page-tab ul li {
	display: inline-block;
	float: left;
	margin: 0 2px;
	line-height: 26px;
}

.page-tab ul li a {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background:#262626;
	padding: 0 8px;
	border-radius: 4px;
	display:block;
	line-height: 26px;
	margin-top: 2px;
}

.page-tab ul li .prevpage, .page-tab ul li .nxtpage, .page-tab ul li .showmore {
	background: none;
	padding: 0;
	margin-top: 0;
}

#page.leads .view-content .leadnote {
	font-size: 14px;
	color: #b2b2b2;
	margin: 30px 0;
  width: 540px;
}

#page.leads .view-content .leadinfo {
	float: right;
}

#page.leads .view-content .leadinfo li {
	display: inline-block;
	float: left;
	font-size: 14px;
	color: #808080;
	margin-left: 5px;
}

#page.leads .view-content .leadinfo li span {
	color: #ffffff;
	display: block;
	float: left;
	font-size: 22px;
	margin: 0 5px;
	font-weight: bold;
}

.leaddetails {
	position: absolute;
	left: 0;
	bottom: 0;
	background: url("images/bg_leaddetail.png");
	width: 100%;
	padding: 10px 0;
}

#page.leads .view-content .mainlead {
	position: relative;
	width: 461px;
	float: left;
}

#page.leads .view-content .mainlead.big img {
	padding-top: 8px;
	width: 461px;
	height: 314px;
}

#page.leads .view-content .mainlead a, #page.leads .view-content .mainlead p {
	margin-left: 10px;
}

#page.leads .view-content .mainlead a, #page.leads .view-content .mainlead p.timeposted {
	margin-top: 2px;
}

#page.leads .view-content .featuredleads ul {
	padding: 0 10px 0 0;
	list-style-type: none;
	float: right;
	width: 490px;
}

#page.leads .view-content .featuredleads ul li {
	display: inline-block;
	float: left;
	position:relative;
	margin: 0 0 20px 20px;
}
#page.leads .view-content .featuredleads ul li.small img {
	width: 220px;
	height: 147px;
}

#page.leads .view-content .featuredleads ul li .leaddetails a, #page.leads .view-content .featuredleads ul li .leaddetails p {
	margin-left: 10px;
	display:block;
}

#page.leads .leaddetails p {
	margin: 0;
}

#page.leads .breakingleads ul {
	list-style-type: none;
	padding: 0;
}

#page.leads .breakingleads ul li {
	display: inline-block;
	float: left;
	margin-right: 15px;
}

#page.leads .breakingleads ul li img {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	width: 80px;
	height: 80px;
}

.breakingleads ul li .leaddetails {
	position: relative;
	float: left;
	width: 205px;
	background: none;
	padding: 0;
}

.leaddetails a {
	color: #99ccff;
}

.vidlist {
	list-style-type: none;
	padding: 0;
}	

.vidlist li {
	display: inline-block;
	float: left;
	margin: 0 15px 15px 0;
	
}

.vidlist li.right {
	margin-right: 0;
	float:right;
}

.vidlist li.mid {
	margin-left: 5px;
}

.seemore {
	display: block; 
	float: right;
	padding: 4px 50px;
	color: #ffffff;
	background: #a73d16;
	margin-bottom: 50px;
}

.seemore:hover {
	color: #ffffff;
}