/* Mirren Internal Style Override */

/* Overall */ 

b, strong {
font-weight: 600;
}

/* Newsletter In Footer */


.newsletter-wrapper .newsletter-signup input::-webkit-input-placeholder { /* WebKit browsers */
    color: #666666;
    }
.newsletter-wrapper .newsletter-signup input::-webkit-input-placeholder :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #666666;
    }
.newsletter-wrapper .newsletter-signup input::-webkit-input-placeholder ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #666666;
    }
.newsletter-wrapper .newsletter-signup input:-webkit-input-placeholder :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #666666;
    }
    
.newsletter-signup input[type="email"] {
  color:#666666;
}

/* Join Mirren Overlay */

#mirren-gate-modal h2, .mirren-gate-modal h2 {
line-height: 30px;
margin-bottom: 2px;
}


/* Frontpage */

#main_menu .content li.menu-974 a {
	padding:8px 15px;
	width:auto;
}

#main_menu .content li.menu-975 a {
	border-left:1px solid #333333;
	padding:8px 15px;
	width:auto;
}

#section1 p {
	font-size:25px;
	line-height:28px;
	padding:0px 75px;
	font-weight:500;
}

#block-block-2 a.social {
	display:none;
	float:left;
	width:24px;
	height:24px;
	background:transparent url(../images/social_icons_24_v1.png) 0 0 no-repeat;
	margin-top:5px;
}


#main_menu .content ul.inline-text {
	margin:0;
	padding:0;
	height:70px;
	background:url(../images/menu-tab-left.png) 46px 45px no-repeat, url(../images/menu-tab-right.png) 720px 45px no-repeat;
}

#main_menu .content li {
	float:left;
	text-align:center;
	position:relative;
	top:4px;
	border-bottom: 3px #333333 solid;
}

#main_menu .content li:nth-child(1), #main_menu .content li:nth-child(7) {
  border-bottom: 3px #303030 solid;
}

#main_menu .content li.menu-1115 a {
	padding:8px 14px;
	width:auto;
}

#main_menu .content li.menu-663 a {
	border-left:1px solid #333333;
	padding:8px 15px;
	/* width:122px; */
}

#main_menu .content li.menu-498 {
	top:0;
	border:none;
}

#main_menu .content li.menu-1117 a {
	width:38px;
	height:38px;
	background:#303030 url(/sites/all/themes/mirren_bootstrap/assets/images/main-menu-house.png) 0 0 no-repeat;
	color:#333333;
	text-indent:-9999px;
}

#secondary_menu #user-logged-in-menu #upper-logged-in {
	width:105px;
	height:22px;
	padding-right:14px;
	padding-left:3px;
	padding-top:3px;
	text-transform:uppercase;
	color:#99CCFF;
}

#secondary_menu #user-logged-in-menu #upper-logged-in span.collapsed {
	top:3px;
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom:none;
	width:94px;
	right:5px;
}

#secondary_menu .content li {
display: inline;
border-left: 1px solid #a73d16;
padding: 0px 10px 0 10px;
}

.usermenu-container {
	width:110px;
	display:block;
	height:30px;
	border:1px solid;
	margin-top:-20px;
}

#secondary_menu #user-logged-in-menu #upper-logged-in span.collapsed:hover {
	text-decoration:underline;
}

#secondary_menu .last.leaf a {
	color:#99CCFF;
}

.front #section1 .block {
	margin:22px 0 0;
}

.home-third .teaser-detail span{
  font-weight:600;
}


footer {
	background:#cccccc;
	padding:30px 0;
	height:165px;
}

.reveal-modal-bg {
	position:fixed;
	height:100%;
	width:100%;
	background:rgba(255, 255, 255, .6);
	z-index:10000;
	display:none;
	top:0;
	left:0;
}

.reveal-modal {
	visibility:hidden;
	top:0px;
	left:50%;
	margin-left:-300px;
	width:600px;
	background:#FFFFFF url() no-repeat 375px 100px;
	position:absolute;
	z-index:10001;
	padding:20px 25px 34px;
	-moz-border-radius:10px;
	-webkit-border-radius:0px;
	border-radius:0px;
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0px 2px rgba(0, 0, 0, 1.0);
	-box-shadow:0 0 10px rgba(0, 0, 0, .4);
	height:510px;
	border:1px solid #CCCCCC;
}

.reveal-modal.small {
	width:200px;
	margin-left:-140px;
}

.reveal-modal.medium {
	width:400px;
	margin-left:-240px;
}

.reveal-modal.large {
	width:600px;
	margin-left:-340px;
}

.reveal-modal.xlarge {
	width:800px;
	margin-left:-440px;
}

.reveal-modal .close-reveal-modal {
	font-size:22px;
	line-height:.5;
	position:absolute;
	top:8px;
	right:11px;
	color:#aaa;
	text-shadow:0 -1px 1px rbga(0, 0, 0, .6);
	font-weight:bold;
	cursor:pointer;
}

#myModal {
	font-family:'league_gothicregular';
}

#myModal h2 {
	text-transform:uppercase;
	font-size:38px;
	font-family:'league_gothicregular';
	text-align:center;
	color:#000;
}

#myModal h2 em {
	color:#ffb400;
	font-style:normal;
}

#myModal h3 {
	font-size:27px;
	text-transform:uppercase;
	margin:25px 0px 0px 25px;
	font-family:'league_gothicregular';
	color:#000;
}

#myModal p {
	font-family:'Oswald', sans-serif;
	font-size:19px;
	padding:5px 0px 5px 0px;
	color:#000;
	text-align:center;
}

#myModal ul li {
	font-family:'Oswald', sans-serif;
	background:url("/sites/all/themes/motg/images/icon_form-list.png") no-repeat left;
	padding:0 0 0 45px;
	margin-top:25px;
	list-style:none;
	font-size:18px;
	color:#000;
}

#myModal ul li span {
	color:#808080;
	font-size:14px;
	font-family:'Oswald', sans-serif;
}

#myModal form {
	clear:both;
	width:300px;
	text-align:center;
	margin-top:23px;
}

#myModal input {
	width:100%;
}

#myModal input.email, #myModal input[type="text"], #myModal input[type="email"] {
	border:1px solid #a3a3a2;
	padding:8px 0;
	text-align:center;
	font-size:15px;
	width:275px;
}

#myModal input[type="submit"], #myModal .submit {
	font-size:20px;
	padding:12px 0;
	width:277px;
	margin:0;
}

#myModal #mc_embed_signup form {
	display:block;
	position:relative;
	text-align:left;
	padding:0px 0 0px 0;
	width:340px;
	margin-left:25px;
}

#myModal #mc_embed_signup input.button {
	height:36px;
	display:block;
	margin:0px 63px 0px 0px;
	text-transform:uppercase;
	border-radius:5px;
	padding:0px 0px 0px 0px;
}

#block-block-34 .content {
	width:940px;
}

#block-block-34 p {
	display:block;
	position:relative;
	text-transform:uppercase;
	font-weight:600;
	padding-bottom:6px;
	font-size:13px;
}

.footer-menu {
	float:left;
	position:relative;
	list-style:none;
	line-height:1.5;
	font-size:12px;
	text-transform:uppercase;
	padding:0px 30px 0px 0px;
}

.footer-menu a {
	color:#6B6B6B;
}

.top-footer-menu {
	font-weight:600;
}

.footer-menu.home {
	border-left:1px solid #b7b7b7;
	padding-left:30px;
}

.footer-menu.forum {
	border-right:1px solid #b7b7b7;
	padding-right:30px;
}

.privacy-footer {
	font-size:11px;
	margin-top:35px;
}

#block-block-2 p {
	width:170px;
}

.newsletter-wrapper {
	height:80px;
	background-color:#d8d8d8;
}

.newsletter-signup .form {
margin: 0;
padding: 0;
float: right;
width: 493px;
}

.newsletter-signup {
	width:945px;
	margin:auto;
	padding:30px 0px 50px 0px;
}

.newsletter-signup .form-group {
	float:left;
}

.newsletter-signup input[type="email"] {
	height:24px;
	width:320px;
	margin-right:7px;
	border:#e5e5e5;
	border-top-right-radius:0;
	border-top-left-radius:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	padding-left:6px;
	color:#b2b2b2;
	font-size:12px;
}

.newsletter-signup a {
	float:left;
}

.social-footer {
	width:180px;
	height:67px;
	display:block;
	border:1px solid #ccc;
	padding-left:20px;
}

.page-user #main .header-intro-content .header-intro-text .edit-profile a {
	font-size:16px;
}

#forced-link {
	text-decoration:underline;
	color:#d25e35;
}

.node-training-item .group-body-group {
	margin-bottom:0px;
}

.node-training-item .group-series-overview p {
	padding-bottom:10px;
}

/*
.page-node-27210 h3.collapsed, .page-node-27210 h3.filter-toggle{
	color:#99ccff;
}

.page-node-27210 h3.collapsed i{
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:7px solid #b2b2b2;
	border-bottom:5px solid transparent;
}
*/

.node-search-consultant-individual .header-intro-text h3 {
	font-size: 16px;
	line-height: 10px;
	margin-top: 0px;
}

.node-search-consultant-individual .header-intro-text #search-consultant-url {
	margin-top:0;
	margin-bottom:6px;
}

.node-search-consultant-individual .header-intro-text .email h3, .node-search-consultant-individual .header-intro-text .search-consultant-url a {
	line-height:7px;
	margin-bottom:10px;
	margin-top:12px;
}

.node-type-search-consultant-individual .member-since, .node-service-providers-individual .member-since {
  margin-top: 30px;
  color: #666;
}

#comment-date {
    float: right;
    margin-top: -15px;
    font-size: 12px;
    line-height: 90%;
    }

/* Lead Listing */

.lead-teaser .lead-category-icon-wrap {
    position: relative;
    background-color: #fff;
    text-align: center;
    }
.lead-teaser .lead-category-icon-wrap img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    }


/* Individual Lead */ 

.node-lead .header-intro-content .field-name-field-banner-image{
    float: none;
    margin: 0;
    padding: 0;
    width: 340px;
    height: 165px;
    text-align: center;
    background: #fff;
    position: relative;
    }
.node-lead .header-intro-content .field-name-field-banner-image img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    }
.node-lead .col-xs-9 .field-name-field-company{
    font-weight: 600;
    margin-bottom: 10px; 
    }  

/* Live Online Class */  
  
#block-views-events-block-1 {
    margin-top: 30px;
    }  

/* Conference Hub */

.conference-hub-views-block .conference-hub-block-heading {
    height:122px;
    }
.conference-hub-views-block .conference-hub-block-heading h4 {
    line-height: 14px;
    margin-bottom: 5px;
    }  
.conference-hub-views-block .conference-hub-block-heading .view-content {
    line-height: 13px;
    }
.conference-hub-views-block .conference-hub-block-heading span {
    line-height: 13px;
    }

/* -- Search Consults & Service Providers -- */

.view-all-service-search .views-row .views-field-field-logo-team {
    position: relative;
    }
.view-all-service-search .views-row .views-field-field-logo-team img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    }

/* My Agency Hub */

.page-node-25946 .header-intro-text #node-address .team-address-container {
  width:240px;
}

.page-node-25946 #my-agency-hub-colorbox {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.page-node-25946 #my-agency-hub-colorbox p, .page-node-25946 #my-agency-hub-colorbox ul, .page-node-25946 #my-agency-hub-colorbox li{
  text-align: left;
}


/*
 * Media
 */
#folder .folder-children-toggle {
  background-image: url('../../images/expand.png') !important;
  background-repeat: no-repeat;
}
#folder div.emptyFolder {
  color: #000;
}