﻿body.page-fall-workshop #main {
  width: 1022px;
}

#workshop .panel-separator {
  display: none;
}
#workshop {
  max-width: 1022px;
  margin: auto;
}

#workshop .header-intro {
  min-height: 255px !important;
  background: #000000;
  padding-top: 0;
}

#workshop .header-intro p {
  margin: 35px 0 25px 0;
}

#workshop .header-intro h1 {
  font-size: 38px;
  color: #ffffff;
  text-transform: uppercase;
}

#workshop .header-intro h1 span {
  font-size: 24px;
  display: block;
  line-height: 100%;
}

#workshop .header-intro .register {
  display: block;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 0;
  background: #89a14d;
  width: 298px;
  font-weight: 600;
}

#workshop .header-intro .locations {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0 0;
}

#workshop .header-intro .locations li {
  display: inline-block;
  float: left;
  margin: 0 25px;
}

#workshop .header-intro .locations li h2 {
  font-family: 'Oswald', sans-serif !important;
  font-size: 28px;
  float: left;
  margin: 4px 0 0 0;
}

#workshop .header-intro .locations li.a h2{
  color: #008b96;
}

#workshop .header-intro .locations li.b h2 {
  color: #cd1e25;
}

#workshop .header-intro .locations li.c h2 {
  color: #954191;
}

#workshop .header-intro .locations li.d h2 {
  color: #0d5bbd;
}

#workshop .header-intro .locations li.e h2 {
  color: #f68b1f;
}

#workshop .header-intro .locations li:first-child {
  margin:0;
}

#workshop .header-intro .locations li:last-child {
  margin:0;
}
#workshop .header-intro .locations .sched {
  font-size: 12px;
  color: #ffffff;
  float: left;
  margin-right: 10px;
}

#workshop .header-intro .locations .sched span {
  font-size: 20px;
}

#workshop .strategies {
  padding: 20px 0 40px 0;
  background: #ffffff;
}

#workshop .strategies, #workshop .strategies h2, #workshop .strategies p {
  color: #000333;
}

#workshop .strategies table {
  border: none;
  width: 296px;
  border-collapse: collapse;
  border: 1px solid #cccccc;
  margin: 10px 0 20px 0;
  float:left;
}

#workshop .strategies table th {
  font-weight: normal;
  font-size: 12px;
  border-top: 2px solid #cccccc;
  background: #e6e6e6;
  text-align: center;
  border-bottom: 0;
}

#workshop .strategies table td {
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  background: #e6e6e6;
  text-align: center;
  padding: 5px 3px;
  font-size: 14px;
}


#workshop .strategies table td.seating {
  font-size: 15px;
  padding: 8px 3px;
}

#workshop .headline {
  height: 78px;
  background: #000000;
}


#workshop .headline h2 {
  font-size: 24px;
  color: #ffffff;
  line-height: 78px;
}

#workshop .headline a {
  display: block;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 0;
  background: #89a14d;
  width: 218px;
  font-weight: 600;
  margin-top: 20px;
}

#workshop .cities {
  background: #ffffff url("/sites/all/themes/mirren_bootstrap/images/workshop/bg_cities.png") no-repeat;
}

#workshop .cities ul {
  list-style-type: none;
  padding: 0;
}

#workshop .cities ul li {
  display: inline-block;
  float: left;
  margin: 30px 20px 30px 0;
  width: 172px;

}

#workshop .cities ul li img {
  margin-bottom: 35px;
}

#workshop .cities ul li:last-child {
  margin-right: 0;
}

#workshop .cities ul li .details {
  min-height: 115px;
}

#workshop .cities ul li h4 {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

#workshop .cities ul li p {
  color: #333333;
}

#workshop .cities ul li p.strat {
  font-style: italic;
  font-size: 12px;
}

#workshop .cities ul li p.loc {
  font-size: 11px;
  color: #808080;
}

#workshop .cities ul li.a h4, #workshop .cities ul li.a a {
  color: #008b96;
}

#workshop .cities ul li.b h4, #workshop .cities ul li.b a {
  color: #cd1e25;
}

#workshop .cities ul li.c h4, #workshop .cities ul li.c a {
  color: #954191;
}

#workshop .cities ul li.d h4, #workshop .cities ul li.d a {
  color: #0d5bbd;
}

#workshop .cities ul li.e h4, #workshop .cities ul li.e a {
  color: #f68b1f;
}

#workshop .topics h2 {
  font-size: 22px;
  color: #333333;
  line-height: 100%;
}

#workshop .topics p {
  color: #333333;
  font-size: 14px;
}

#workshop .topics p.by {
  font-size: 11px;
}

#workshop .topics a {
  color:#1a1a1a;
  text-decoration: underline;
  font-weight: 600;
}

#workshop .topics a span {
  font-size: 10px;
}

#workshop .topics .vid {
  display:block;
  margin-top: 30px;
}

#workshop .topics h4 {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  color: #333333;
  margin-top: 20px;
}

#workshop .topics h4 .a {
  color: #008b96;
}

#workshop .topics h4 .b {
  color: #cd1e25;
}

#workshop .topics h4 .c {
  color: #954191;
}

#workshop .topics h4 .d {
  color: #0d5bbd;
}

#workshop .topics h4 .e {
  color: #f68b1f;
}

#workshop .topics .article {
  min-height: 330px;
}

#workshop .register a {
  display: block;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 19px;
  padding: 15px 0;
  background: #89a14d;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}
#workshop .register .container {
  margin-top: 25px;
}