/* Mirren Registration CSS */

.wizard-trail { text-align:center; color:#b2b2b2; margin-bottom:1.5em; margin-top:-30px }
.wizard-trail span { padding:0 0.5em; }
.wizard-trail .wizard-trail-current { font-weight:normal; color:#4c4c4c; }

body.page-membership #main_menu {
  border-bottom:40px solid #e6e6e6;
  padding-bottom:30px
}

form { color:#666666; }

form input[type="radio"], form input[type="checkbox"] {
  margin: 0;
}

.form-item .form-item { margin:0; }
div.error { background-image:none; }
div.error button { border-color:red; }

body.page-membership .content .form-submit {
  background: none repeat scroll 0 0 #A73D16;
  border: medium none;
  border-radius: 0;
  color: #F2F2F2;
  min-width: 150px;
  padding: 4px 10px;
  text-align: center;
  text-transform: uppercase;
}
body.page-membership .content .form-submit:hover {
  background: none repeat scroll 0 0 #D25E35;
  color: #F2F2F2;
}
body.page-membership .content .form-submit[disabled] {
  background:#cccccc;
}

body.page-membership .content .form-text {
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  /*color: #B2B2B2;*/
  font-size: 12px;
  height: 26px;
  padding-left: 6px;
  width: 440px;
}

body.page-membership .content .dropdown-toggle  {
  width: 440px;
}

body.page-membership .content .form-type-textfield label,
body.page-membership .content .form-type-select label {
  display:block;
}

body.page-membership .content input.error {
  border-color:red;
}

#edit-return, #edit-next { float:right; }
#edit-cancel { display:none; }

.password-strength { display:none; }
div.password-confirm { margin-top:0; }


#app-contact-text { display:none; color:#cc0000; font-size:16px; float:right; margin-top:-2em; position:relative;  }

form h2,
form legend { color:#d25e35; font-size:25px; line-height:25px; font-weight:normal; margin:0.5em 0em; padding-bottom:0; border:0; }
.mirren-reg-title .form-required { display:none; }

/* White Box */
.reg-whitebox,
#edit-choices,
#edit-account,
#billing-pane .fieldset-wrapper,
#payment-pane .fieldset-wrapper {
  border:1px solid #d9d9d9;
  background:#fff;
  padding:5px 15px;
}
.reg-whitebox.reg-two-column { padding-top:15px; }


.reg-two-column .form-item {
  float:left;
  width:50%;
  margin-top:0em;
}


/* Account contact/creation */
#user_user_form_group_basic_info_user h2 { display:none; }
#edit-field-salutation-und .form-item { float:left; margin-right:1em; width:auto; }
#edit-field-first-name { clear:left; }
#edit-metatags { display: none;}

/* Biling */
body.page-membership #payment-pane .dropdown-toggle { width:200px;  }
body.page-membership #payment-pane .form-text { width:200px; }
body.page-membership #billing-pane legend { text-transform: capitalize; margin-top:1em; }
.clearb { clear:both; }

.reg-whitebox #fee-table #hide-fee {
  padding: 0;
  right:0;
  top:0;
  position:static;
}

.reg-whitebox #fee-table #hide-fee span { margin-left:3px; position:relative; }
.reg-whitebox #fee-table #hide-fee span.arrow-up { top:-15px; }


/* Hide */
.field-group-format-title .form-required,
.form-item-field-salutation-und .form-required,
#edit-field-bio-user-und-0-format
 { display:none; }






















/* Legacy CSS */

#membership_table .fee_btns {
  background-color: #BEBEBE;
  border-radius: 5px;
  float: left;
  margin: 0 5px 20px 0;
  width: 160px;
}

#membership_table .fee_btns a {
  background-color: inherit;
  border-radius: 5px;
  clear: none;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  /*line-height: 16px;*/
  padding: 5px 0;
  text-align: center;
  text-transform: capitalize;
  cursor:pointer;
}

#membership_table .fee_btns a:hover {
  text-decoration:none;
}

#membership_table .selected {
  background-color: #CF7A30 !important;
}

.round {
  border-radius: 5px;
}

#fee_section a { cursor:pointer; }


#fee_show span, #fee_hide span {
    background: url("../images/rev4/assets/more_arrow_lg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 9px;
    padding: 0 5px;
    text-decoration: none;
    width: 16px;
}
#fee_hide span {
    background: url("../images/rev4/assets/less_arrow_lg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#membership_table {
    clear: both;
    display: none;
    padding-top: 30px;
}
#membership_table p {
    margin-bottom: 15px;
}
#membership_table .fee_btns {
    background-color: #BEBEBE;
    border-radius: 5px;
    float: left;
    margin: 2px 5px 22px 0;
    width: 165px;
}
#membership_table .fee_btns a {
    color: #FFFFFF;
    font-size: 15px;
    /*eight: 16px;*/
    line-height: 16px;
    padding: 5px 0;
    text-align: center;
    text-transform: capitalize;
}
#membership_table .selected {
    background-color: #CF7A30 !important;
}
#membership_table #table_wrapper {
    border: 1px solid #727272;
    border-radius: 5px;
    clear: both;
    height: auto;
    margin-bottom: 20px;
    width: 100%;
}
#membership_table table {
    border-collapse: collapse;
    font-size: 15px;
    line-height: 23px;
    width: 100%;
}
#membership_table table tr {
}
#membership_table table tr.odd {
    background-color: #3E3E3E;
}
#membership_table table tr.even {
    background-color: #4E4E4E;
}
#membership_table table td {
    border-right: 1px solid #F1F1F1;
    padding: 10px;
}
#membership_table table td span.font_12 {
    color: #999999;
}
#membership_table table tr.odd td {
    border-right: 1px solid #4D4D4D;
    color: #CCCCCC;
    padding: 10px;
}
#membership_table table tr.even td {
    border-right: 1px solid #575757;
    color: #CCCCCC;
    padding: 10px;
}
#membership_table table td:last-child {
    border: medium none;
}
#membership_table a.fee_box {
    background: url("../images/rev4/assets/question_mark.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-left: 5px;
    width: 14px;
}
#membership_table .fee_btns span.more_arrow {
    background: url("../images/rev4/assets/membership_feetable_caret.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 5px;
    margin-left: 0;
    margin-right: 7px;
    margin-top: 6px;
    width: 10px;
}
#fee_apply {
    float: right;
    font-size: 23px;
}
#fee_trial {
    font-size: 15px;
    margin-bottom: 0;
}

/**
 * Trial & Membership Block
 */
#block-block-29 .content, #block-block-36 .content {
  background:#303030;
  min-height:230px;
  margin-top:60px;
  padding:30px;
  font-size:16px;
  color:#fff;
}
#block-block-29 h2, #block-block-36 h2 { font-size:30px; }
#block-memapp-text { float:left; width:440px; line-height:1.25em; }
#block-memapp-video { float:left; width:400px; padding-left:40px; }

